

#temp
/public/hot
/public/storage
/storage/*.key


#dependencies
/vendor
/node_modules

#env
.env
.env.backup

#cache
.phpunit.result.cache

#config
Homestead.json
Homestead.yaml

#npm yarn
npm-debug.log
yarn-error.log

#keys

git_dev*