

#temp
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key


#dependencies
vendor
node_modules

#env
.env
.env.backup
jsconfig.json

#public
mix-manifest.json
public/fonts

#cache
.phpunit.result.cache

#config
Homestead.json
Homestead.yaml

#npm yarn
npm-debug.log
yarn-error.log

#keys

git_dev*

#vscode

.vscode