.filtering {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    margin: 5px;
    &__wrapper {
        margin-bottom: 5px;
    }
    &__select {
        cursor: pointer;
        & .active {
            background-color: coral;
            color: black;
        }
    }
    &__button {
        padding: 3px;
        background-color: rgb(243, 243, 243);
        border: 1px black solid;
        color: black;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
            background-color: rgb(148, 148, 148);
            color: white;
            transition: all 0.5s;
        }
    }
}

.quick_filter{
    width: 100%;
    margin: 5px 0px;
    .input{
        &_container{
            width: 100%;
        }
        &_wrapper{
            &-container{
                input{
                    padding: 3px;
                }
            }
        }
    }
}
