//
$rows : 7;
$width : round(percentage(1 / $rows));
.calendar {
    &__link{
        &:visited, &:link{
            color: black;
            text-decoration: none;
        }
        &.disabled {
            cursor: initial;
            
        }
    }
    display: flex;
    align-items: center;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat($rows, 1fr);
        column-gap: 10px;
        font-size: 16px;
        text-align: center;
    }
    &__header{
        background-color: lavenderblush ;
        padding: 10px;
    }
    &__header[disabled] + &__rows,
    &__header[disabled] + &__rows > &__row,
    &__header[disabled] + &__rows > &__row + &__row{
        background-color: gray;
        font-weight: initial;
        cursor: initial;
    }

    &__rows{
        background-color: lavender;
        font-weight: 400;
        
    }
    &__row {
        padding: 10px; 
        margin-bottom: 10px;  
        cursor: pointer;
        background-color: lightblue;
        &:hover, &:hover + &, &:hover + & + &{
            font-weight: 700;
            background-color: azure;
        }
        &:nth-last-child(-n + 2){
            $disabledColor : lightgreen;
            cursor: initial;
            background-color: $disabledColor;
            &:hover, &:hover + &{
                font-weight: initial;
                background-color: $disabledColor;
            }
        }
    }
}

.arrow{
    cursor: pointer;
    margin: 10px;
    &::before {
        font-size: 50px;
    }
}