//
$rows: 7;
$width: round(percentage(1 / $rows));
.calendar {
    display: flex;
    align-items: center;
    &__content {
        min-width: 100px;
        max-width: 200px;
        user-select: none;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat($rows, 1fr);
        column-gap: 10px;
        font-size: 16px;
        text-align: center;
    }
    &__header {
        background-color: rgb(87, 221, 154);
        padding: 10px;
    }
    &__header[disabled] + &__rows,
    &__header[disabled] + &__rows > &__row,
    &__header[disabled] + &__rows > &__row + &__row,
    &__header[disabled] + &__rows:hover > &__row,
    &__header[disabled] + &__rows:hover > &__row + &__row {
        background-color: gray !important;
        font-weight: initial !important;
        cursor: initial !important;
    }

    &__rows {
        background-color: lavender;
        font-weight: 400;
    }
    &__row {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        $bookedColor: rgb(67, 69, 192);
        $activeColor: azure;

        background-color: $bookedColor;
        &:visited,
        &:link {
            color: black;
            text-decoration: none;
        }
        &.hovered {
            font-weight: 700;
            background-color: $activeColor;
        }

        &:not(.booked) {
            background-color: turquoise;
            &.disabled {
                $disabledColor: lightgreen;
                cursor: initial;
                background-color: $disabledColor;
                &:hover,
                &:hover + & {
                    font-weight: initial;
                    background-color: $disabledColor;
                }
            }
            &.hovered {
                font-weight: 700;
                background-color: $activeColor;
            }
        }
        &.booked {
            cursor: initial;
            background-color: $bookedColor;
        }
        &.booked.hovered {
            font-weight: 700;
            background-color: $activeColor;
        }
    }
}

.arrow {
    cursor: pointer;
    margin: 10px;
    &::before {
        font-size: 50px;
    }
}

.button{
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid black; 
    margin: 3px;
    font-size: 16px;
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    transition: .5s all;

    &:link, &:visited{
        text-decoration: none;
        color: black;
        background-color: lightgreen;
    }
    &:hover{
        transition: .5s all;
        color: white;
        background-color: green;
    }
}
.select{
    &_cities{

    }
}
