@mixin colorBack($color, $background-color){
    background-color: $background-color;
    color: $color;
}

$arrow-right: -45;
$arrow-left: 135;
$arrow-down: 45;
$arrow-up: -135;

@mixin arrow($direction : 0, $color: black){
    border: solid $color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(#{$direction}deg);
    -webkit-transform: rotate(#{$direction}deg);
}

.main-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    &__th{
        padding: 10px;
        border: 1px solid black;
        @include colorBack(white, green);
        &--sortable{
            padding: 2px;
            margin: 10px;
            border: 1px solid black;
            @include colorBack(white, rgb(0, 128, 70));
            user-select: none;
            transition: 0.5s all ease;
            cursor: pointer;

            &:hover{
                background-color: rgb(0, 217, 255);
            }

            & span {

                &.asc.active{

                    &::after{
                        content: "";
                        margin: 0 5px 0 5px;
                        @include arrow($arrow-down);
                    }
                    
                }
                &.desc.active{

                    &::after{
                        content: "";
                        margin: 0 5px 0 5px;
                        @include arrow($arrow-up);
                    }

                }

                &.asc{

                    &::after{
                        content: "";
                        margin: 0 5px 0 5px;
                        @include arrow($arrow-down, green);
                    }

                }
                &.desc{

                    &::after{
                        content: "";
                        margin: 0 5px 0 5px;
                        @include arrow($arrow-up, green);
                    }

                }
            }           
            
        }
    }

    &__td{
        padding: 10px 15px;
        min-width: 100px;
    }

    &__tr{
        padding: 5px;
    }

    &__tbody{
        tr {
            border-bottom: 1px solid black;
            &:hover{
                background-color: #cfcfcf;
            }
        }
    }
}


@mixin flex($flex-direction: row, $flex-wrap: nowrap, $flex: 0 1 auto){
    display: flex;
    flex-flow: $flex-direction $flex-wrap;
    flex: $flex;
}

.options{
    @include flex(row, wrap, 0 1 25%);
    justify-content: space-between;
    margin: 20px 20px 0px 20px;

    &__get-data{
        @include flex(column);
        align-self: flex-end;
    }

    &__filtering{
        align-self: flex-end;
    }

    &__download{
        @include flex();
        align-self: flex-end;

        &__pdf, &__xml, &__csv{
            margin-right: 3px;
            margin-left: 3px;
        }
    }

    &__datepicker__render{
        @include flex(row);
        *{
            padding: 0px 3px;
        }
    }
}

#input{
    &_get-data{
        text-align: center;
    }
}

.hidden{
    display: none;
}

.flex_wrapper{
    display: inline-flex;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.exclude{
    display: none;
}
