@mixin flex($flex-direction: row, $flex-wrap: nowrap, $flex: 0 1 auto){
  display: flex;
  flex-flow: $flex-direction $flex-wrap;
  flex: $flex;
}

.options{
  @include flex(row, wrap, 0 1 25%);
  justify-content: space-between;
  margin: 20px 20px 0px 20px;

  &__get-data{
      @include flex(column);
      align-self: flex-end;
  }

  &__filtering{
      align-self: flex-end;
  }

  &__download{
      @include flex();
      align-self: flex-end;

      &__pdf, &__xml, &__csv{
          margin-right: 3px;
          margin-left: 3px;
      }
      &__button{
          margin-right: 3px;
          margin-left: 3px;
          padding: 3px;
          background-color: rgb(243, 243, 243);
          border: 1px black solid;
          color: black;
          &:link, &:visited{
              text-decoration: none;
          }
          font-size: 12px;
      }
  }

  &__datepicker__render{
      @include flex(row);
      *{
          padding: 0px 3px;
      }
  }
}